@model IEnumerable<RestaurantOrderServiceModel>

@{
    ViewBag.Title = "Поръчки -";
}

@section OrdersStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/orders/mine.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Areas/Manager/Views/Shared/_SettingsOptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Поръчки</h2>

        <div class="section-container">
            @if (Model.Any())
            {
                @foreach (var order in Model)
                {
                    <div class="orders">
                        <div class="order-container">
                            <p>Дата: <span class="time">@order.Time</span> <span class="day">@order.Day</span></p>

                            <p>Адрес: <span>@order.Address</span></p>

                            <span class="border"></span>

                            <div class="meals">
                                <p>Поръчки:</p>

                                <ul>
                                    @foreach (var portion in order.Portions)
                                    {
                                        <li><span>(@portion.Quantity)x</span> @portion.MealName <span>@portion.Price лв</span></li>
                                    }
                                </ul>
                            </div>

                            <span class="border"></span>

                            <p>Обща сума: <span class="total-price">@order.TotalPrice лв</span></p>
                            
                            <span class="border"></span>
                            
                            <p class="status">
                                Статус:

                                @if (order.IsAccepted)
                                {
                                    <span class="accepted">приета</span>
                                }
                                else
                                {
                                    <span class="not-accepted">неприета</span>
                                }
                            </p>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="no-made-orders-message">Все още няма направени поръчки.</p>
            }
        </div>
    </div>
</div>
