@model IEnumerable<ManagersRestaurantServiceModel>

@{
    ViewBag.Title = "Моите ресторанти -";
}

@section ManagerRestaurantsStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/restaurants/managers.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Areas/Manager/Views/Shared/_ProfileOptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Моите ресторанти</h2>

        <div class="section-container">
            <div class="manager-restaurants">
                <div class="add-restaurant">
                    <a><i class="fas fa-plus"></i> Добави ресторант</a>
                </div>

                @foreach (var restaurant in Model)
                {
                    <div class="restaurant">
                        <div class="card">
                            <img src="~/img/restaurants/@restaurant.CardImgUrl" alt="Restaurant image" />
                        </div>

                        <div class="info">
                            <h3>@restaurant.Name</h3>

                            <a asp-area="Manager" asp-controller="Menus" asp-action="Meals" asp-route-id="@restaurant.Id" class="open">Отвори</a>

                            <p>
                                Статус:

                                @if (restaurant.IsApproved)
                                {
                                    <span class="active">Активен</span>
                                }
                                else if (restaurant.IsArchived)
                                {
                                    <span class="archived">Архивиран</span>
                                }
                                else
                                {
                                    <span class="pending">В изчакване</span>
                                }
                            </p>

                            <div class="btns">
                                @if (restaurant.IsArchived)
                                {
                                    <a asp-area="Manager" asp-controller="Restaurants" asp-action="UnArchive" asp-route-id="@restaurant.Id" class="add">Добави</a>
                                }
                                else
                                {
                                    <a asp-area="Manager" asp-controller="Restaurants" asp-action="Archive" asp-route-id="@restaurant.Id" class="archive">Архивирай</a>
                                }

                                <a asp-area="Manager" asp-controller="Restaurants" asp-action="Delete" asp-route-id="@restaurant.Id" class="delete">Изтрий</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
