@model CartAllPortionsServiceModel

@{
    ViewBag.Title = "Поръчка -";

    var PriceFormat = "F2";
}

@section CartStyles {
    <link href="~/css/orders/cart.css" rel="stylesheet" />
}

<div class="cart-page-container">
    <div class="cart-container">
        <div class="meals">
            <div class="header">
                <h2>Твоите поръчки</h2>
                <p>@Model.Portions.Count() броя</p>
            </div>

            <div class="cards">
                <table>
                    <thead>
                        <tr>
                            <th>Ястие</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Общо</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var portion in Model.Portions)
                        {
                            <tr>
                                <td class="meal">
                                    <h4>@portion.Meal.Name</h4>
                                    <div class="image-container">
                                        <img src="@portion.Meal.ImgUrl" alt="Meal" />
                                    </div>
                                </td>
                                <td class="quantity">
                                    <form method="post">
                                        <button id="remove-@portion.Id" class="remove @(portion.Quantity == 1 ? "disable" : string.Empty)" portion-id="@portion.Id">-</button>
                                    </form>
                                    <span id="number-@portion.Id" class="number">@portion.Quantity</span>
                                    <form method="post">
                                        <button class="add" portion-id="@portion.Id">+</button>
                                    </form>
                                </td>
                                <td class="price">
                                    @portion.Meal.Price.ToString(PriceFormat) лв
                                </td>
                                <td class="price">
                                    @portion.Price.ToString(PriceFormat) лв
                                </td>
                                <td class="remove-btn">
                                    <a><i class="fas fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="order">
            <h2>Адрес за доставка</h2>

            <form class="order-info" method="post">
                <div class="info">
                    <label>Име</label>
                    <input type="text" />
                </div>
                <div class="info">
                    <label>Фамилия</label>
                    <input type="text" />
                </div>
                <div class="info">
                    <label>Телефон</label>
                    <input type="text" />
                </div>
                <div class="info">
                    <label>Адрес</label>
                    <input type="text" />
                </div>

                <div class="total-price">
                    <p>Цена за доставка: <span>@Model.DeliveryFee.ToString(PriceFormat)</span> лв</p>
                    <p>Обща цена: <span>@Model.TotalPrice.ToString(PriceFormat)</span> лв</p>
                </div>

                <input class="btn @(!Model.Portions.Any() ? "disable" : string.Empty)" type="submit" value="Поръчай" />
            </form>
        </div>
    </div>
</div>

@section CartScript {
    <script type="text/javascript" src="~/js/orders/removePortion.js"></script>
    <script type="text/javascript" src="~/js/orders/addPortion.js"></script>
}