@model IEnumerable<ManagerMenuViewModel>

@{
    ViewBag.Title = "Меню -";
}

@section ManagerMenuStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/menus/manager.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Areas/Manager/Views/Shared/_SettingsOptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Меню</h2>

        <div class="section-container">
            <div class="manager-meals-container">
                <div class="add-btns">
                    <a><i class="fas fa-plus"></i> Добави ястие</a>
                    <a><i class="fas fa-plus"></i> Добави категория</a>
                </div>

                <div class="categories">
                    @foreach (var mealsCategory in Model)
                    {
                        <div class="category">
                            <h3>@mealsCategory.MealsCategory.Name</h3>

                            <div class="btns">
                                <a class="edit">Промени</a>
                                <a class="delete">Изтрий</a>
                            </div>

                            <div class="meals">
                                @foreach (var meal in mealsCategory.Meals)
                                {
                                    <div class="meal">
                                        <div class="card">
                                            <img src="~/img/meals/@meal.ImgUrl" alt="Meal image" />
                                        </div>

                                        <div class="info">
                                            <h3>@meal.Name <span>(@meal.Weight гр.)</span></h3>

                                            <p>
                                                @meal.Description
                                            </p>

                                            <p class="price">
                                                Цена: <span>@meal.Price лв.</span>
                                            </p>

                                            <div class="btns">
                                                <a class="edit">Промени</a>
                                                <a class="delete">Изтрий</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
