@model PersonalDataServiceModel

@{
    ViewBag.Title = "Лични данни -";
}

@section CartStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/users/personalData.css" rel="stylesheet" />
}

@{
    var emptyInput = "Няма информация";
}

<div class="user-profile-page-container">
    @if (User.IsInRole(ClientRoleName))
    {
        <partial name="_OptionsPartial" />
    }
    else
    {
        <partial name="~/Areas/Manager/Views/Shared/_OptionsPartial.cshtml" />
    }

    <div class="main-container">
        <h2>Лични данни</h2>

        <div class="section-container">
            @if (!User.IsInRole(ClientRoleName))
            {
                <div class="profile-image-container">
                    <div class="profile-image">
                        <img src="https://img.freepik.com/free-photo/pleasant-looking-serious-man-stands-profile-has-confident-expression-wears-casual-white-t-shirt_273609-16959.jpg?size=626&ext=jpg" alt="Profile picture" />
                    </div>
                </div>
            }

            <form class="personal-data-container" method="post">
                <div class="personal-data">
                    <div class="field">
                        <p>Име</p>
                        <p>Фамилия</p>
                        <p>Телефон</p>
                        <p>Град</p>
                        <p>Адрес</p>
                    </div>
                    <div class="data">
                        <input asp-for="FirstName" class="disable" type="text" value="@Model.FirstName" placeholder="@emptyInput" />
                        <input asp-for="LastName" class="disable" type="text" value="@Model.LastName" placeholder="@emptyInput" />
                        <input asp-for="PhoneNumber" class="disable" type="text" value="@Model.PhoneNumber" placeholder="@emptyInput" />
                        <input asp-for="City" class="disable" type="text" value="@Model.City" placeholder="@emptyInput" />
                        <input asp-for="Address" class="disable" type="text" value="@Model.Address" placeholder="@emptyInput" />
                    </div>
                </div>

                <div class="validation-summary-container">
                    <div asp-validation-summary="All" class="validation-summary"></div>
                </div>

                <div class="change-container">
                    <button type="button" class="btn" id="change-btn"><i class="far fa-edit"></i> Промени</button>
                </div>
                <div class="change-container hidden">
                    <button type="submit" class="btn" id="save-btn"><i class="far fa-check-square"></i> Запиши</button>
                </div>
            </form>

            <span class="border"></span>

            <div class="change-container account-data">
                <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="btn"><i class="fas fa-unlock-alt"></i> Смени парола си</a>
                <a asp-area="Identity" asp-page="/Account/Manage/Email" class="btn"><i class="far fa-envelope"></i> Смени имейла си</a>
            </div>
        </div>
    </div>
</div>

@section PersonalDataScript {
    <script type="text/javascript" src="~/js/users/personalData.js"></script>
}