@model NewRestaurantCardViewModel

<div class="restaurant-card-container">
    <div class="image-container">
        <img src="@Model.CardImgUrl" alt="Restaurant Image">
    </div>

    <h3>@Model.Name</h3>

    <p class="meals-categories">
        <span># </span>

        @for (int count = 0; count < Model.MealsCategories.Count; count++)
        {
            <span>@Model.MealsCategories[count]</span>

            @if (count != Model.MealsCategories.Count - 1)
            {
                <span>, </span>
            }
        }
    </p>

    <p class="city-name">
        Град: <span>@Model.CityName</span>
    </p>

    <div class="btns">
        <a asp-area="" asp-controller="Menus" asp-action="Meals" asp-route-id="@Model.Id" class="open">Отвори</a>
        <a asp-area="Admin" asp-controller="Restaurants" asp-action="Approve" asp-route-id="@Model.Id" asp-route-cityName="@Model.CityName" class="add">Одобри</a>
    </div>
</div>